.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
/all_words_segments.pkl
words_atleast2048long_24kHz.pkl
all_words_segments.pkl
all_words_downsampled_to_8kHz.pkl
all_words_downsampled_to_16kHz.pkl
all_words_downsampled_to_24kHz.pkl
phones__24kHz.pkl
all_words_downsampled_to_32kHz.pkl
MFCC__24kHz.pkl
Data.zip
/Tonaufnahmen
C:\Users\ul64ujis\Documents\Masterthesis\Tonaufnahmen
Tonaufnahmen
C:/Users/ul64ujis/Documents/Masterthesis/Tonaufnahmen
best_cnn1d_model.pth
models
Data
/Data
C:/Users/ul64ujis/Documents/Masterthesis/Data
C:\Users\ul64ujis\Documents\Masterthesis\Data
MA interim report.pptx
/__pycache__
C:\Users\ul64ujis\Documents\Masterthesis\__pycache__
phone__16kHz.pkl
phone__24kHz.pkl
phones__24kHz.pkl
words_atleast2048long_16kHz.pkl
phone_atleast2048long_16kHz.pkl
segments_train.pkl
segments_val.pkl
segments_test.pkl
processed_dataset.pkl
segments_train_Attention1.pkl
segments_test_Attention1.pkl
segments_val_Attention1.pkl
segments_train_Attention2.pkl
segments_test_Attention2.pkl
segments_val_Attention2.pkl
segments_train_normalmel.pkl
segments_test_normalmel.pkl
segments_val_normalmel.pkl
segments_train_mfcc.pkl
segments_test_mfcc.pkl
segments_val_mfcc.pkl
path
sentences__16kHz.pkl