.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

/Tonaufnahmen
C:\Users\ul64ujis\Documents\Masterthesis\Tonaufnahmen
Tonaufnahmen
C:/Users/ul64ujis/Documents/Masterthesis/Tonaufnahmen
best_cnn1d_model.pth
models
Data
/Data
C:/Users/ul64ujis/Documents/Masterthesis/Data
C:\Users\ul64ujis\Documents\Masterthesis\Data

