.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
/all_words_segments.pkl
words_atleast2048long_24kHz.pkl
all_words_segments.pkl
all_words_downsampled_to_8kHz.pkl
all_words_downsampled_to_16kHz.pkl
all_words_downsampled_to_24kHz.pkl
phones__24kHz.pkl
all_words_downsampled_to_32kHz.pkl
MFCC__24kHz.pkl
Data.zip
/Tonaufnahmen
C:\Users\ul64ujis\Documents\Masterthesis\Tonaufnahmen
Tonaufnahmen
C:/Users/ul64ujis/Documents/Masterthesis/Tonaufnahmen
best_cnn1d_model.pth
models
Data
/Data
C:/Users/ul64ujis/Documents/Masterthesis/Data
C:\Users\ul64ujis\Documents\Masterthesis\Data
MA interim report.pptx

